* {
    xbg:    #21243a;
    xfg:    #ccccfa;
    x0:     #2c323b;
    x1:     #ac2f44;
    x2:     #1d505d;
    x3:     #d84c60;
    x4:     #295d75;
    x5:     #1b4a5f;
    x6:     #093b46;
    x7:     #b3e5fc;
    x8:     #4a505a;
    x9:     #d03a49;
    x10:    #bbdefb;
    x11:    #ffe0b2;
    x12:    #c8e6c9;
    x13:    #38718b;
    x14:    #a76e65;
    x15:    #e8f5e9;
}
